body {
    margin: auto;
    max-width: 50em;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    /*font-family: 'Times New Roman', Times, serif;*/
}

caption {
    text-align: left;
    margin-bottom: 10px;
}

nav li {
    display: inline-block;
    padding: 0 .5em;
}

.button-container {
    margin-bottom: 5px;
}

.flash-message.error {
    color: red;
    font-size: 20px;
}

.flash-message.success {
    color: green;
    font-size: 20px;
    margin-bottom: 10px;
}

.center-input {
    text-align: center;
}

.table-style {
    border-collapse: separate;
    border-spacing: 10px 0;
}