{% extends "base.html" %}
{% block title %}Aktiivisuus{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Tuntiaktiivisuus</h2>
    <p>Tänään on {{ current_date }}</p>
    Valitse kurssi:
    <select id="courseSelect" name="course">
        <option value="" selected disabled>Valitse kurssi</option>
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <b>tähän valitun kurssin nimi ja sen oppilaat arvostelukenttineen...</b>

    <script>
    </script>
{% endblock %}