{% extends "base.html" %}
{% block title %}Lisää kurssin oppilaat{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>{{ course_name }}</h2>
    <p>Lisää kurssin oppilaat:</p>
    <form action="/save_course_students/{{ course_id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <ul style="list-style-type: none;">
            {% for student in students %}
                <li>
                    <input type="checkbox" name="student_ids[]" value="{{ student.id }}""
                        {% if student.id in course_students|map(attribute='id') %}checked{% endif %}>
                    {{ student.name }}
                </li>
            {% endfor %}
        </ul>
        <button class="button-style" type="submit">Tallenna</button>
        {% if course_students|length == 0 %}
            <button class="button-style" type="button" id="delete-course-button">Poista kurssi</button>
        {% endif %}
        <input type="hidden" name="confirmation" id="confirmation" value="false">
    </form>

    <script>
        const deleteCourseButton = document.getElementById("delete-course-button");
        if (deleteCourseButton) {
            deleteCourseButton.addEventListener("click", () => {
                const confirmation1 = confirm("Oletko varma, että haluat poistaa tämän kurssin?");
                if (confirmation1) {
                    // If the user confirms, submit the form
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/delete_course/{{ course_id }}';
                    document.body.appendChild(form);
                    form.submit();
                }
            });
        }
    </script>
{% endblock %}