{% extends "base.html" %}
{% block title %}Kurssit{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Kurssit</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages" class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="button-container">
        <button class="button-style" id="new-course-button">Lisää kurssi</button>
    </div>

    <div id="new-course-form" style="display: none;">
        <form action="/courses" method="POST">
            <label for="course-name">Kurssin nimi:</label>
            <input type="text" id="course-name" name="course_name" required minlength="3" maxlength="20">
            <button class="button-style" type="submit">Tallenna</button>
            <button class="button-style" type="button" id="cancel-button">Peruuta</button>
        </form>
    </div>
    <br>
    <table class="student-table">
        <tbody>
            {% for course in courses %}
                <tr>
                    <td><span class="course-name">{{ course.name }}</span></td>
                    <td><a href="{{ url_for('course_students', course_id=course.id) }}"><button class="button-style">Lisää oppilaita</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // JavaScript to show/hide the new course form
        document.getElementById("new-course-button").addEventListener("click", () => {
            document.getElementById("new-course-form").style.display = "block";
        });

        document.getElementById("cancel-button").addEventListener("click", () => {
            document.getElementById("new-course-form").style.display = "none";
        });

        const hideFlashMessage = () => {
            const flashMessages = document.getElementById("flash-messages");
            if (flashMessages) {
                setTimeout(() => {
                    flashMessages.style.display = "none";
                }, 3000);
            }
        }
        window.addEventListener("load", hideFlashMessage);
    </script>
{% endblock %}