{% extends "base.html" %}
{% block title %}Etusivu{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Etusivu</h2>
    {% if session.username %}
        <p>
            OpeApu on Tietokannat ja Web-ohjelmointi-kurssin harjoitustyö.
            Sovellus on tarkoitettu peruskouluopettajan apuvälineeksi kurssiarvostelujen
            ja päivittäisen tuntiaktiivisuuden tekemiseksi.
        </p><p>
            "Oppilaat"-välilehdellä voi lisätä uusia oppilaita tietokantaan ja annetaan 
            kaikki tietokantaan luodut oppilaat listana. Listasta pääsee myös yksittäisen oppilaan 
            tarkempiin tietohin käsiksi. 
        </p><p> 
            "Kurssit"-välilehdellä voi luoda uusia kursseja ja 
            kaikki luodut kurssit annetaan listana. Luotuun kurssiin voi lisätä kurssille 
            osallistuvat oppilaat. 
        </p><p>  
            "Tuntiaktiivisuus"-välilehdellä voi valita kurssin, jonka 
            jälkeen kurssin oppilaat listataan ja heille voi antaa tuntiaktiivisuusarvosanan. 
            Arvosanan mukana tallentuu päivämäärä, jolloin aktiivisuusarvosana annettiin. 
        </p><p>
            "Arvosanat"-välilehdellä voi antaa oppilaalle lopullisen kurssiarvosanan.
        </p>
    {% else %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages" class="flash-messages">
                {% for category, message in messages %}
                    <p class="flash-message {{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
            <p>Käyttäjätunnus:<br>
            <input type="text" name="username"></p>
            <p>Salasana:<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Kirjaudu">
        </form>
    {% endif %}
{% endblock %}