{% extends "base.html" %}
{% block title %}Etusivu{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Etusivu</h2>
    {% if session.username %}
        <p>OpeApu on Tietokannat ja Web-ohjelmointi-kurssin harjoitustyö.</p>
    {% else %}
        <form action="/login" method="POST">
            <p>Käyttäjätunnus:<br>
            <input type="text" name="username"></p>
            <p>Salasana:<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Kirjaudu">
        </form>
    {% endif %}
{% endblock %}