{% extends "base.html" %}
{% block title %}Oppilaat{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Oppilaat</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages" class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="button-container">
        <button class="button-style" id="new-student-button">Lisää oppilas</button>
    </div>

    <div id="new-student-form" style="display: none;">
        <form action="/students" method="POST">
            <label for="student-name">Nimi:</label>
            <input type="text" id="student-name" name="student_name" required minlength="3" maxlength="25">
            <button class="button-style" type="submit">Tallenna</button>
            <button class="button-style" type="button" id="cancel-button">Peruuta</button>
        </form>
    </div>
    <ul>
        {% for student in students %}
            <li><a href="{{ url_for('student', student_id=student.id) }}">{{ student.name }}</a></li>
        {% endfor %}
    </ul>

    <script>
        // JavaScript to show/hide the new student form
        document.getElementById("new-student-button").addEventListener("click", () => {
            document.getElementById("new-student-form").style.display = "block";
        });

        document.getElementById("cancel-button").addEventListener("click", () => {
            document.getElementById("new-student-form").style.display = "none";
        });

        const hideFlashMessage = () => {
            const flashMessages = document.getElementById("flash-messages");
            if (flashMessages) {
                setTimeout(() => {
                    flashMessages.style.display = "none";
                }, 3000);
            }
        }
        window.addEventListener("load", hideFlashMessage);
    </script>
{% endblock %}