{% extends "base.html" %}
{% block title %}Oppilas{% endblock %}
{% block link %}
    {% if session.username %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>{{ student_name }}</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages" class="flash-messages">
            {% for category, message in messages %}
                <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <h3>Oppilaan kurssit:</h3>
    {% if not course_activities %}
    <p>ei kursseja</p>
    {% else %}
    {% for course, data in course_activities.items() %}
        <h4>{{ course }}:</h4>
        <table class="student-table">
            <thead>
                <tr>
                    <th>Päivämäärä</th>
                    <th>Tuntiaktiivisuus</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in data.activities %}
                    <tr>
                        <td>{% if activity.activity_date == '1900-01-01' %}-{% else %}{{ activity.activity_date }}{% endif %}</td>
                        <td class="center-input">
                            {% if activity.activity_score is none %}
                                -
                            {% elif activity.activity_score == -1 %}
                                poissa
                            {% else %}
                                {{ activity.activity_score }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <b>Tuntiaktiivisuus ka: </b>{{ data.mean_score }}<br>
        <b>Poissaolot: </b>{{ data.absence }} kpl<br>
        <b>Kurssin arvosana: </b>{{ data.grade }}
    {% endfor %}
    {% endif %}

    <br><br>
    <div class="button-container">
        {% if not course_activities %}
            <button class="button-style" id="delete-student-button">Poista oppilas</button>
        {% endif %}
    </div>

    <script>
        const csrfToken = "{{ session.csrf_token }}";
        const deleteStudentButton = document.getElementById("delete-student-button");
        if (deleteStudentButton) {
            deleteStudentButton.addEventListener("click", () => {
                const confirmation = confirm("Oletko varma, että haluat poistaa tämän oppilaan?");
                if (confirmation) {
                    // If the user confirms, submit the form
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/student/{{ student_id }}';
                    const csrfInput = document.createElement('input');
                    csrfInput.type = 'hidden';
                    csrfInput.name = 'csrf_token';
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);
                    document.body.appendChild(form);
                    form.submit();
                }
            });
        }
    </script>
{% endblock %}